@page
@using FunSun.Auth.Extensions
@using FunSun.Auth.Pages.Login
@inject IHtmlLocalizer<IndexModel> Localizer
@model IndexModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>@Localizer["LocalAccountPrompt"]</h2>
                <hr />
                <partial name="_StatusMessage" for="StatusMessages" />
                <div class="form-floating mb-3">
                    <input asp-for="LoginInput.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="LoginInput.Email" class="form-label">@Localizer["EmailLabel"]</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="LoginInput.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="LoginInput.Password" class="form-label">@Localizer["PasswordLabel"]</label>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="LoginInput.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="LoginInput.RememberMe" />
                        @Localizer["RememberMeLabel"]
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["LoginButton"]</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" href="@Url.PageWithoutNormalizeQuery("/ForgotPassword/Index", new { returnUrl = HttpContext.Request.Query["returnUrl"] })">@Localizer["ForgotPasswordLink"]</a>
                    </p>
                    <p>
                        <a id="register" href="@Url.PageWithoutNormalizeQuery("/SignUp/Index", new { returnUrl = HttpContext.Request.Query["returnUrl"] })">@Localizer["RegisterLink"]</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>@Localizer["ExternalServicesPrompt"]</h3>
            <hr />
            @{
                <form id="external-account" asp-page="/ExternalLogin/Index" method="post" class="form-horizontal">
                    <input type="hidden" name="returnUrl" value="@HttpContext.Request.Query["returnUrl"]" />
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins.Schemes)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="@Localizer["ExternalLoginButton", provider.DisplayName]">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>
</div>

